<ion-view>
<div class="bar bar-header bar-light">
</div>
  <ion-content>
    <div class="list">
      <div ng-repeat="stache in mapview.staches">
        <a class="item item-thumbnail-left" ng-click="mapview.redirect(stache._id)">
          <h2>{{stache.author}}</h2>
          <p>{{stache.title}}</p>
          <p>{{stache.date | timeConversion}}</p>
          <span class="item-note ion-ios7-pricetag" ng-show="stache.tags.length">
          <span ng-repeat="tag in stache.tags">
            {{tag}}&nbsp
          </span>
          </span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
