<ion-view>
<div class="bar bar-header bar-light">
</div>
  <ion-content>
    <google-map
      center="map.center" zoom="map.zoom"
      draggable="true"
      dragging="map.dragging"
      bounds="map.bounds"
      events="map.events"
      options="map.options"
      pan="true"
      control="map.control"
      options="map.options">
      <layer namespace="visualization" type="HeatmapLayer" show=true onCreated="marcopolo.heatLayerCallback"></layer>
    </google-map>
  </ion-content>
  <ion-footer-bar style="background-color:{{ marcopolo.proximityColor }}">
  </ion-footer-bar>
  <!-- <h6>{{marcopolo.distance | distance}}</h6> -->
</ion-view>

<script id="found-modal.html" type="text/ng-template">
  <ion-modal-view>
    <div style="margin-top:40px">
        <div style="float:right" class="button button-clear" ng-click="modal.hide()">
          <span class="icon ion-close"></span>
        </div>
        <center><p style="font-size:14pt;font-weight:bold;">You discovered the stache!</p></center>
        <center ng-show=true>
          <img src="./img/ghost.jpg" style="height:100px;border:#455059 4px solid;"/>
        </cente>
    </div>
      <button class="button button-large button-full button-assertive" ng-click="marcopolo.goToProfileTab()">
        My Staches
      </button>
  </ion-modal-view>
</script>