<ion-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="doSomething()">Profile</button>
    </div>
    <h1 class="title">{{marcopolo.currentStache.title}}</h1>
    <div class="buttons">
      <button class="button">Back</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Give it a name" ng-model="create.data.titleText">
      </label>
      <a class="item item-icon-left" ng-click="create.show()">
        <i class="icon ion-ios7-pricetag"></i>
        Tags
        <span class="item-note" ng-repeat="(key, val) in create.data.currentTags">
          {{key}}&nbsp
        </span>
      </a>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Text</span>
        <input type="text" placeholder="Input your text" ng-model="create.data.content">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Clue</span>
        <input type="text" placeholder="Input your text" ng-model="create.data.content">
      </label>
      <a class="item item-icon-left" ng-click="create.takePicture()">
        <i class="icon ion-ios7-camera"></i>
        Picture
        <!-- <img src="{{create.imageData}}" height="100" width="100"> -->
      </a>
      <a class="item item-icon-left" ng-click="create.captureAudio()" >
        <i class="icon ion-mic-a"></i>
        Audio
      </a>
      <li class="item item-toggle">
         Private Stache
         <label class="toggle toggle-positive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <!-- <a class="item item-icon-left" >
        <i class="icon ion-mic-a"></i>
        {{audioData}}
      </a> -->
      <button class="button button-large button-block button-assertive" ng-click="create.saveStache()">
      MAKE STACHE
      </button>
    </div>
  </ion-content>
</ion-view>
