<ion-view>
<div class="bar bar-header bar-light">
</div>
  <ion-content>
    <div style="margin-top:30px" class="list list-inset">
      <!-- Name of stache -->
        <a class="item item-calm">Name</a>
          <input class="item" style="font-size:14px" type="text" placeholder="Name your stache" ng-model="create.data.titleText">
      <!-- </label> -->

      <a class="item item-calm">Content</a>
      <!-- Text -->
      <a class="item item-icon-left" ng-click="create.showTextPopup()" >
        <i class="icon ion-chatbox-working"></i>
        Text
      </a>

      <!-- Photo -->
      <div class="item item-icon-left" style="position:relative;">
        <i class="icon ion-ios7-camera" style="position:absolute;margin-right:100px"></i>
        <div style="position:absolute;margin-top:10px">Picture</div>
        <div style="position:absolute;margin-left:150px;" ng-show=true id="preview">
          <!-- <img src="./img/ghost.jpg" style="height:45px;border: #455059 4px solid;"/> -->
        </div>
        <input type="file" name="file" id="files" style="height:100%;width:100%;border-style:solid;opacity:0; z-index:1;"/>
      </div>

      <!-- Audio -->
      <a class="item item-icon-left" ng-click="create.captureAudio()" >
        <i class="icon ion-mic-a"></i>
        Audio
      </a>

      <a class="item item-icon-left" ng-click="create.show()">
        <i class="icon ion-ios7-pricetag"></i>
          Tags
        <span class="item-note" ng-repeat="(key, val) in create.data.currentTags">
          {{key}}&nbsp
        </span>
      </a>
      <ion-checkbox ng-model="checked" ng-click="create.openPrivateModal()">
        Locked stache?
      </ion-checkbox>
      
      <!-- File upload -->
      <p id="status" ng-show=false></p>
      <form method="POST" action="">
          <input type="hidden" id="avatar_url" name="avatar_url" value="./img/ghost.jpg"/ ng-model="create.data.url">
      </form>
    </div>

    <!-- Spinner -->
    <span us-spinner="{radius:30, width:3, length: 8, speed:2}" spinner-key="spinner-1"></span>

    <!-- Save Button -->
    <button class="button button-large button-block button-assertive" id="save" ng-click="create.s3Upload()">
    Stache it!
    </button>

  </ion-content>
</ion-view>

<script id="private-modal.html" type="text/ng-template">
  <ion-modal-view>
    <div class="list list-inset">
    <label class="item item-input item-stacked-label">
       <span class="input-label">Clue</span>
       <input type="text" placeholder="{{create.data.clue !== undefined ? create.data.clue : 'Type a clue'}}" ng-model="create.data.clue">
     </label>
    </div>
    <button class="button button-large button-full button-assertive" ng-click="create.closeModal()">
    Save
    </button>
  </ion-modal-view>
</script>

<script id="created-modal.html" type="text/ng-template">
  <ion-modal-view>
  you made it. youre the best.
  <button class="button button-large button-full button-assertive" ng-click="create.goToProfile()">
  Back to profile
  </button>
  </ion-modal-view>
</script>
