
    <div class="list" ui-view>
      <div ng-repeat="discovered_stache in staches_discovered">
        <a class="item item-stable" ng-click="">
          <p style="font-size:14pt;font-weight:bold;">{{discovered_stache.title}}</p>
          <p>Created {{discovered_stache.date | timeConversion}}</p>
          <span style="float:left" class="item-note ion-ios7-pricetag" ng-show="stache.tags.length">
            <span ng-repeat="tag in discovered_stache.tags">
              {{tag}}&nbsp
            </span>
          </span>
        </a>
      </div>
    </div>
