<ion-view>
  <div class="bar bar-header bar-light">
  </div>
  <ion-content>
    <div ng-hide="user.username">
      <button class="button button-block button-positive" ng-click="login('facebook')">Login with Facebook</button>
    </div>

    <div  ng-show="user.username">
      <div class="card">
        <div>
          <img class="circle" style="float:left; margin: 5px" src="{{user.pic}}">
          <div style="text-align:center; padding-top: 20px; padding-bottom: 20px; padding-left: 20px">
          <h3>{{user.username}}</h3>
          <button class="button button-medium button-calm" style="height: 90%;">&nbsp&nbsp&nbsp&nbspEdit Profile&nbsp&nbsp&nbsp&nbsp</button>
        </div>
        </div>
      </div>

      <div class="button-bar" ng-show="user.username">
        <a ng-class="{'button ion-chatbox-working': !isActive1, 'button active ion-chatbox-working': isActive1}"
        ng-init="isActive = false"
        ng-click="isActive1 = !isActive1"  ui-sref="tab.profile.created">&nbsp&nbspCreated</a>
        <a ng-class="{'button ion-person-stalker': !isActive, 'button active ion-person-stalker': isActive}"
        ng-init="isActive = false"
        ng-click="isActive = !isActive" ui-sref="tab.profile.discovered">&nbsp&nbspDiscovered</a>
      </div>

      <div ui-view></div>
    </div>
    <button class="button button-block button-assertive" ng-click="logout()" ng-show="user.username">Logout</button>
  </ion-content>
</ion-view>
