<ion-view>
  <div class="bar bar-header bar-light">
  </div>
  <ion-content>

  <div ng-hide="user.username">
    <button class="button button-block button-positive" ng-click="login('facebook')">Login with Facebook</button>
  </div>

  <div>
    <div class="card" ng-show="user.username">
      <div>
        <img class="circle" style="float:left; margin: 5px" src="{{user.pic}}">
        <div style="text-align:center; padding-top: 20px; padding-bottom: 20px; padding-left: 20px">
        <h3>{{user.username}}</h3>
        <button class="button button-medium button-calm" style="height: 90%;">&nbsp&nbsp&nbsp&nbspEdit Profile&nbsp&nbsp&nbsp&nbsp</button>
      </div>
      </div>
    </div>

  <!-- <div class="list list-inset">
  <div class="item item-divider">Profile</div>
   <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text">
    </label>
  </div>
   <div class="item item-input-inset">
    <label class="item-input-wrapper">
    </label>
  </div><div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Bio">
    </label>
  </div>

  <div class="item item-divider">Account info</div>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      Robb.Mitch@gmail.com
      <input type="text">
    </label>
    <button class="button button-small">
      Change
    </button>
  </div> -->
<!--   <div class="item">Change password
  </div> -->
  <button class="button button-block button-assertive" ng-click="logout()">Logout</button>
</div>
  <!-- <button class="button button-medium button-block button-assertive" ng-click="create.saveStache()">
    Save Changes
  </button> -->
  </div>
</ion-content>
</ion-view>
